<%- include header %>
<div class="article">
  <p class="info">
    作者：<a href="#"> <%= post.AuthorName %></a> |
    日期: <%= post.CreateDate %>
  </p>
  <p><%- post.Content %></p>
</div>
<div class="comments">
  <% comments.forEach(function (comment, index) { %>
    <div class="comment">
      <p><%- comment.Content %></p>
      <p class="info">
        <a href="#"> <%= comment.Name %></a> |
        日期: <%= comment.CreateDate %>
        <form method="post">
          <textarea name="reply" rows="8" cols="80" style="display:none"></textarea>
          <input type="button" value="回复"/>
        </form>
      </p>
    </div>
  <% }) %>
</div>
<div class="post_comment">
  <form method="post">
    评论：<br />
    <textarea name="comment" rows="5" cols="50"></textarea>
    <input type="submit" value="发表">
  </form>
</div>
