<%- include header %>
<div class="article">
  <p class="info">
    作者：<a href="#"> <%= post.AuthorName %></a> |
    日期: <%= post.CreateDate %>
  </p>
  <p><%- post.Content %></p>
</div>
<div class="comments">
  <% comments.forEach(function (comment, index) { %>
    <div class="comment">
      <p><%- comment.Content %></p>
      <p class="info">
        <a href="#"> <%= comment.Name %></a> |
        日期: <%= comment.CreateDate %>
        <% replies.forEach(function (reply, indexR) { %>
          <% if(index == reply.Index) { %>
            <p class="replyContent"><%- reply.Content %></p>
          <% } %>
        <% }) %>
        <form method="post" action="<%= title %>/<%= index %>">
          <textarea name="reply" rows="8" cols="60" style="display:none"></textarea>
          <input type="button" class="reply" value="回复"/>
          <input type="submit" value="发表" style="display:none"/>
        </form>
      </p>
    </div>
  <% }) %>
</div>
<div class="post_comment">
  <form method="post">
    评论：<br />
    <textarea name="comment" rows="5" cols="50"></textarea>
    <input type="submit" value="发表">
  </form>
</div>

<script type="text/javascript">
  var buttons = document.querySelectorAll(".reply");
  buttons.forEach(function(button) {
    button.onclick = function() {
        console.log('click');
        var textarea = button.previousSibling.previousSibling;  //会匹配其他文本类容
        var submit = button.nextElementSibling;
        if (textarea.style.display == "none"){
          textarea.style.display = "block";
          submit.style.display = "block";
          button.value = "取消";
        } else {
          textarea.style.display = "none";
          submit.style.display = "none";
          button.value = "回复";
        }
    }
  })
</script>
