<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="u/<%= post.AuthorName.trim() %>/<%= post.Title %>"><%= post.Title %></a></h2></p>
  <p class="info">
    作者: <a href="#"><%= post.AuthorName %></a> |
    日期: <%= post.CreateDate %>
  </p>
  <p><%- post.Content %></p>
<% }) %>
<%- include footer %>
